<section id="team" class="team-area section milky">
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">주막</h2>
	</div>
	<div class="row w-100">
	
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @reviews.reverse.each do |review| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="col-12"><%= review.content %> <br/> <%= review.tent.name %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @lanks.each do |lank| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="c" data-toggle="modal" data-target="#tent<%= lank.id %>"><%= lank.location %> | <%= lank.name %></div>
    				    <div class="c" ><%= lank.likes %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		
	</div>
</div>
</section>