<section id="team" class="team-area section">
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">주막</h2>
	</div>
	<div class="row">
		<div class="container">
			<div class="d-flex justify-content-center">
				<div class="col-lg-6">
					<img src="img/tent_map.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
				</div>
				
			</div>
		</div>
		<div class="container mt-5 w-100">
			<!--<div class="list-group">-->
			<div class="d-flex justify-content-center">
			<ul class="list-group col-lg-6">
				<% tents.each do |tent| %>
				 <li class="list-group-item justify-content-between">
				    <div class="col-9" data-toggle="modal" data-target="#tent<%= tent.id %>"><%= tent.location %> | <%= tent.name %></div>
				    <div>
				      <div class="row">
					    <div class="col">
					      <a onclick="request_like(<%= tent.id%>)"><img src="/img/icon_like.png" alt="like" width="25px;" height="24px;"></a>
					    </div>
					    <div class="col">
					      <span class="like-count py-auto" id="tent_likes<%= tent.id %>"><%=tent.likes %></span>
					    </div>
				      </div>
				    </div>
				  </li>
				<% end %>
			</ul>	
			</div>
		</div>
	</div>
</div>
</section>



<% tents.each do |tent| %>
<div class="modal fade" id="tent<%= tent.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="display: none; z-index:10000;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 style="text-align:center;" class="modal-title"><%= tent.name %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="">
							<img src="<%= tent.pic_url %>" class="img-fluid">
						</div>
					</div>
			
					<div class="row pt-2">
						<div style="border: 0px; float: left; width: 33%;">
						</div>
						<div style="border: 0px; float: left; width: 33%; text-align:center;">
							<strong>* 소개 *</strong>
							<p><%= simple_format(tent.content) %></p>
							<strong>* 메뉴 *</strong>
							<p><%= simple_format(tent.menu_content) %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<form class="form-inline w-100">
						<div class="row w-100">
							<div class="col-8">
								<input type="text" name="txtSend" class="form-control w300" id="inlineFormInput<%= tent.id %>" placeholder="평가해줘여" style="color:black;">
							</div>
							<div class="col-3">
								<button type="submit" onclick="add_review(<%= tent.id %>);" class="btn mt-2" id="comment_btn">댓글달기</button>
							</div>
						</div>
					</form>
					<div id="review<%= tent.id%>">
						<% tent.reviews.reverse.each do |review| %>
						<div class="row">
							 <p class="pl-3"># <%= review.content %></p>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
