
<section id="team" class="team-area section milky">
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">주&nbsp;막</h2>
	</div>
	<div class="row">
		<div class="container">
			<div class="d-flex justify-content-center">
				<div class="col-lg-6">
					<img src="img/tent_map.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
				</div>
			</div>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
        <nav>
          <ul class="pagination d-flex justify-content-center">
            <% tents.limit(10).each_with_index do |tent,i| %>
                <li class="page-item"><a class="page-link" href="#card<%= tent.id %>"><%=tent.location%></a></li>
            <% end %>
          </ul>
          <ul class="pagination d-flex justify-content-center">
            <% tents.limit(10).offset(10).each do |tent| %>
            <li class="page-item"><a class="page-link" href="#card<%= tent.id %>"><%=tent.location%></a></li>
            <% end %>
          </ul>
          <ul class="pagination d-flex justify-content-center">
            <% tents.limit(10).offset(20).each do |tent| %>
            <li class="page-item"><a class="page-link" href="#card<%= tent.id %>"><%=tent.location%></a></li>
            <% end %>
          </ul>
          <ul class="pagination d-flex justify-content-center">
            <% tents.offset(30).each do |tent| %>
            <li class="page-item"><a class="page-link" href="#card<%= tent.id %>"><%=tent.location%></a></li>
            <% end %>
          </ul>
        </nav>
    </div>
</div>
</section>
