<section id="team" class="team-area section milky">
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">주막</h2>
	</div>
	<div class="row w-100">
	
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @reviews.reverse.each do |review| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="col-12"><%= review.content %> <br/> <%= review.tent.name %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @lanks.each do |lank| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="c" data-toggle="modal" data-target="#tent<%= lank.id %>"><%= lank.location %> | <%= lank.name %></div>
    				    <div class="c" ><%= lank.likes %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		
	</div>
</div>
</section>

<!-- nav -->
<%= render 'nav' %>

<!--주막정보-->
<%= render partial: 'tent', locals: {tents: @tents}%>

<!--축제정보-->
<%= render 'festival' %>

<!--라인업-->
<%= render 'line_up.html.erb' %>

<!-- footer -->
<%= render 'footer' %>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      dataType: 'text',//데이타 타입
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "</div>"
         );
      
         alert("success");
      },
      error: function(){
        alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        alert("success");
        $("#tent_likes"+id).html(data.likes)
    },
    error: function(){
        alert("fail");
    }
      
    });
}

</script>


