<!-- nav -->
<%= render 'nav' %>

<!--주막정보-->
<%= render partial: 'card', locals: {tents: @tents} %>

<!--축제정보-->
<%= render 'festival' %>

<!--라인업-->
<%= render 'line_up.html.erb' %>

<!-- footer -->
<%= render 'footer' %>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      dataType: 'text',//데이타 타입
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "</div>"
         );
      
         alert("success");
      },
      error: function(){
        alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        alert("success");
        $("#tent_likes"+id).html(data.likes)
    },
    error: function(){
        alert("fail");
    }
      
    });
}

</script>


