<section id="team" class="team-area section milky">
<div class="container">
	<div class="section-header text-center">
		<h2 class="section-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">주막</h2>
	</div>
	<div class="row w-100">
	
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @reviews.reverse.each do |review| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="col-12"><%= review.content %> <br/> <%= review.tent.name %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		<div class="col-sm-12 col-lg-6">
		    <div class="container mt-5 w-100">
    			<!--<div class="list-group">-->
    			<div class="d-flex justify-content-center">
    			<ul class="list-group col-lg-12">
    				<% @lanks.each do |lank| %>
    				 <li class="list-group-item justify-content-between">
    				    <div class="c" data-toggle="modal" data-target="#tent<%= lank.id %>"><%= lank.location %> | <%= lank.name %></div>
    				    <div class="c" ><%= lank.likes %></div>
    				  </li>
    				<% end %>
    			</ul>	
    			</div>
    		</div>
		</div>
		
	</div>
</div>
</section>

<!-- nav -->
<%= render 'nav' %>

<!--주막정보-->
<%= render partial: 'tent', locals: {tents: @tents}%>

<!--축제정보-->
<%= render 'festival' %>

<!--라인업-->
<%= render 'line_up.html.erb' %>



<!-- Contact Icon End -->
<!-- Footer Section Start -->
<footer>

<!-- Footer area End -->
<!-- Copyright Start  -->
<div id="copyright">
	<div class="container">
			<div class="d-flex flex-column">
				
				<div class="p-2" style="text-align:center; font-size:55px;" data-wow-duration="1000ms" data-wow-delay="300ms">
				   <strong> Developers.</strong>
				</div>
				
				
				<div style="text-align:center; left:100px;" class="p-2" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a href="https://www.facebook.com/profile.php?id=100003591404898&fref=ts"><img class="developer" src="img/mu.jpg"   align:"right"></a>
					<a href="https://www.facebook.com/profile.php?id=100000445817108"><img class="developer" src="img/bsm.jpg" align:"right"></a>
					<a href="https://www.facebook.com/profile.php?id=100003669242302&fref=jewel"><img class="developer" src="img/ny.jpg"  align:"right"></a>
					<a href="https://www.facebook.com/seungmi.lee.5220"><img class="developer" src="img/sm.jpg" align:"right"></a>
                </div>


			    <div class="p-2"style="text-align:center;" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a href="https://likelion.net/"><img src="img/jbnulogo.png" style="width:25px; height:25px; text-align:center;" align:"left"></a> <a href="https://likelion.net/">전북대학교 멋쟁이 사자처럼</a>
				</div>
				
				 <div style="text-align:center;" class="fb-like" data-href="https://www.facebook.com/likelioncbnu/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false">
				     
				 </div>
                
		        </div>
				
		</div>
	</div>
<!-- Copyright End -->
</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
<i class="fa fa-arrow-up"></i>
</a>
<div id="loader">
	<div class="cssload-thecube">
		<div class="cssload-cube cssload-c1">
		</div>
		<div class="cssload-cube cssload-c2">
		</div>
		<div class="cssload-cube cssload-c4">
		</div>
		<div class="cssload-cube cssload-c3">
		</div>
	</div>
</div>

<!-- footer -->
<%= render 'footer' %>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      dataType: 'text',//데이타 타입
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "</div>"
         );
      
         alert("success");
      },
      error: function(){
        alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        alert("success");
        $("#tent_likes"+id).html(data.likes)
    },
    error: function(){
        alert("fail");
    }
      
    });
}

</script>


