<!-- nav -->
<%= render 'nav' %>

<!--라인업-->
<%= render 'line_up.html.erb' %>

<!--주막정보-->
<%= render partial: 'card', locals: {tents: @tents} %>

<!--축제정보-->
<%= render 'festival' %>

<!-- footer -->
<%= render 'footer' %>


<script>
      function add_review(id) {
        var val = $("#inlineFormInput"+id).val();
        // alert(val);
        
      $.ajax({
      method: "POST",
      url: "/tents/"+id+"/reviews",
      data: { content : val },
      success: function(data){
         
        $("#review"+id).prepend(
            "<div class='row'>"
            + "<p class='pl-3'># "+val+"</p>"
            + "<div class='ml-auto p-2'>"+data.time+"</div>"
            + "</div>"
         );
      
        //  alert("success");
      },
      error: function(){
        // alert("fail");
      }
      
    });
   
         $("#inlineFormInput"+id).val("");
        
        event.preventDefault(); // 새로고침 방지
      }
</script>

<script>

function request_like(id)
{
    // alert("running..");
    $.ajax({
    method: "GET",
    url: "/tents/"+id+"/like",
    success: function(data){
        // alert(data.status);
        if(data.status == "already") alert("이미 좋아요를 눌렀습니다.");
        $("#tent_likes"+id).html(" " + data.likes + " likes")
    },
    error: function(){
        // alert("fail");
    }
      
    });
}

</script>
